<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sushi.CounterXsltFolder" value="C:\Temp\RMIT.Counter\Libraries\Reporting\Reports\Xslt" />
    <add key="Sushi.VendorName" value="Sample Vendor" />
    <add key="Sushi.VendorID" value="http://example.com.au" />
    <add key="Sushi.VendorContactName" value="Customer Service" />
    <add key="Sushi.VendorContactEmail" value="support@example.com.au" />
    <add key="Sushi.Platform" value="Informit" />
    <add key="Reports.Timeout.Large" value="600" />
    <add key="Sushi.SupportUrl" value="http://demosushi.example.com.au/default.aspx"/>
    <!-- partial dates for reports. it must be in group of two. group must be seperated by comma e.g. 2014-Jul-27 to 2014-Aug-19,2013-Jan-14 to 2013-Mar-13-->
    <!-- during this partial dates counter logs are considered to be incomplete and therfor counter reports produces reports with Warning message : "Partial Data Returned" -->
    <add key="Sushi.PartialDates" value="2014-Jul-27 to 2014-Aug-19,2013-Jan-14 to 2013-Mar-13"/>
  </appSettings>
</configuration>